@media (min-width: 1200px)
	.main
		&-image
			transform: none
@media (max-width: 1199px)
	.container
		width: 970px
	.main
		&-image
			transform: none
	.feedback
		&:after
			content: none
	.form
		margin: 0 auto
		&__title,&__subtitle
			text-align: center
	.modal
		&-info
			max-width: 500px
			padding: 40px 50px 40px 40px
		&-form
			padding: 40px 50px 40px 50px

@media (max-width: 992px)
	.container
		width: 767px
	.main
		&-text
			&__title
				font-size: 30px
				line-height: 36px
	.feedback
		background: #fff
	.modal
		&__close
			top: 15px
			right: 15px
		&-info
			max-width: 400px
			padding: 40px 0 40px 40px
			&-list
				margin-bottom: 0
		&-form
			width: 380px
			padding: 40px
			text-align: center
			&__title
				margin-bottom: 15px
			&__subtitle
				width: 256px
				margin: 0 auto
				margin-bottom: 15px			
		&-input
			width: 290px
		&-button
			width: 290px
			margin: 15px auto

@media (max-width: 768px)
	.hidden-xs
		display: none
	.container
		width: 95%
	.main
		padding: 25px 0
		&-wrap
			flex-direction: column
		&-text
			max-width: 400px
			margin: auto
			margin-bottom: 30px
			&__title
				margin-bottom: 25px
				text-align: center
		&-advantages__img
			margin-right: 15px
		&-image
			img
				position: relative
				left: inherit
				transform: none
				display: block
				margin: 0 auto
				box-shadow: none
	.feedback
		padding: 25px 0
		.form
			&__title,
			&__subtitle
				margin-bottom: 25px
			&__input,
			&__button
				display: block
				width: 90%
				margin: 0 auto
				margin-bottom: 25px
				.hidden-mobile
					display: none
			&__footer
				flex-direction: column
				align-items: center
				&-text
					max-width: 90%
					text-align: center
				&-contacts
					margin-right: 0
					text-align: center
					&:before
						content: none
	.modal
		&__dialog
			flex-direction: column
			align-items: center
			overflow: auto
			height: 100%
		&-form
			order: -1
			&__subtitle
				line-height: 20px

@media (max-width: 576px)
	.header
		padding: 15px 0
		&-wrap
			flex-direction: column
		&-text
			flex-direction: column
			&__contacts
				margin: 20px 0
				margin-right: 0
				text-align: center
	.main-advantages
		padding: 0 15px
		&__item
			&:last-child
				margin-bottom: 0
	.main-text__title
		font-size: 25px
	.modal
		&-info
			display: block
			width: auto
			padding: 40px
			&-title
				text-align: center
			&-inPrice
				text-align: justify
		.list__item-img
			margin-right: 15px

@media (max-width: 430px)
	.input
		padding: 15px
	.form__button
		padding: 15px
	.modal
		&__dialog
			width: 290px
		&-form
			width: 290px
			padding-left: 0
			padding-right: 0
			&__title
				width: 240px
				line-height: 24px
			.form__footer-contacts
				width: 260px
		.form__button
			padding: 15px
		&-button
			margin-top: 0
		&-input,
		&-button
			display: block
			width: 260px
			margin: 0 auto
			padding: 15px
			margin-bottom: 15px
		.list__item-img
			min-width: 80px
			img
				width: 80px
		&-info
			padding: 20px
		&-info-list__item
			align-items: flex-start
			.list__item-text-title
				margin-bottom: 10px
				font-size: 14px
				&:after
					bottom: -4px